body {
    font-family: 'Times New Roman', Times, serif;
    background: #f2f2f2;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}

.container {
    width: 400px;
    margin: 60px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    font-size: 25px;
    color: slategrey;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box; 
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    transition: 0.3s;
}

input:focus {
  border-color: #131d2a;
  box-shadow: 0 0 6px rgba(3, 82, 172, 0.3);
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #001a35;
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005556;
}

.error {
    color: red;
    font-size: 0.9em;
    height: 16px;
}

#success {
    text-align: center;
    font-weight: bold;
    color: green;
    margin-top: 20px;
}
