body {
  background: #b6ede9;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding-top: 10px;
}

.title {
  font-size: 40px;
  color: #1b1b1b;
  margin-bottom: 25px;
}

.slider {
  position: relative;
  width: 1000px;
  height: 550px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.381);
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.781);
}

#prevBtn {
  left: 15px;
}

#nextBtn {
  right: 15px;
}